body {
   background-color: rgb(77, 192, 77);
   color: aliceblue;
 
}

ul {
display: flex;
justify-content:space-between;
list-style-type:none;
align-items:center;
padding: 16px;
}
 
a {
   color: white;
   text-decoration:none;
}

img {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 5px solid rgb(230, 215, 215);
}

.center {
   text-align: center;
}